body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: white;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    margin: 0;
    padding-top: 20px;
}

.task-container {

    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 800px;
    height: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    
}
@media (max-width: 1024px) {
    .task-container {
        margin-top: 12vh;
    }
}
.items-container {
    text-align: center !important;
}

.input-container {
    display: flex;
    align-items: center; /* Ensure the input field and button align on the same line */
    background-color: #3c3c3c;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

#task {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: white;
    color: black;
    margin-right: 10px;
}

#add-task-btn {
    background-color: #5A5;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    flex-shrink: 0; /* Prevent the button from shrinking */
}

.task-input {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.icon {
    color: #ddd;
    font-size: 20px;
}

.header-container {
    position: absolute;
    color: black;
    top: 18%; /* Use percentage for responsive positioning */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Adjust for horizontal centering */
    margin-top: 10px;
}
@media (max-width: 1024px) {
    .header-container {
        top: 38%;
    }
}

h1 {
    font-size: 1.8rem;
}

/* Calendar container styles */
.calendar-container {
    visibility: hidden; /* Initially hidden */
    opacity: 0; /* Initially transparent */
    transition: opacity 0.3s ease, visibility 0s ease 0.3s; /* Smooth fade-in and fade-out */
}

.calendar-visible {
    visibility: visible; /* Make it visible */
    opacity: 1; /* Fully visible */
    transition: opacity 0.3s ease; /* Smooth fade-in */
}

/* Text container styles */
.text-container {
    visibility: hidden; /* Initially hidden */
    opacity: 0; /* Initially transparent */
    transition: opacity 0.3s ease, visibility 0s ease 0.3s; /* Smooth fade-in and fade-out */
}

.text-visible {
    visibility: visible; /* Make it visible */
    opacity: 1; /* Fully visible */
    transition: opacity 0.3s ease; /* Smooth fade-in */
}
/* Time container styles */
.time-container {
    visibility: hidden; /* Initially hidden */
    opacity: 0; /* Initially transparent */
    transition: opacity 0.3s ease, visibility 0s ease 0.3s; /* Smooth fade-in and fade-out */
}

.time-visible {
    visibility: visible; /* Make it visible */
    opacity: 1; /* Fully visible */
    transition: opacity 0.3s ease; /* Smooth fade-in */
}
