{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'shared/css/tailwindstyles.css' %}">
    <link rel="stylesheet" href="{% static 'shared/css/switch.css' %}">
</head>
<body class="min-h-screen flex items-center justify-center bg-gray-100">
    <div class="switch-container p-4">
        <label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
        </label>
    </div>
</body>
</html>
